.abba-wrapper {
	position: fixed;
  z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 20px;
  font-family: monospace;
  font-size: 14px;
  color: #333;
	background: rgba(0,0,0,.3);
	overflow: auto;
}

.abba-popup {
	margin: 0 auto;
	max-width: 400px;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #888;
  border-radius: 5px;
  overflow: hidden;

  // show the overlay and popup when CSS is loaded
  display: block!important;
}

.abba-title {
  padding: 10px 15px;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
}

.abba-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.abba-item:hover {
  background-color: #f4f4f4;
}

.abba-name {
  display: block;
  padding: 10px 15px;
  margin: 0;
  border-top: 1px solid #ddd;
  cursor: pointer;
  font-weight: normal;
  word-break: break-all;
}

.abba-toggle {
  display: none;
}

.abba-toggle:checked ~ .abba-name {
  background: #fafafa;
  color: #000;
  font-weight: bold;
}

.abba-contents {
  display: none;
  padding: 5px 15px 10px;
}

.abba-toggle:checked ~ .abba-contents {
  background: #fafafa;
  display: block;
}

.abba-variant-radio {
  float: left;
  margin: 12px 0 0 10px!important;
}

.abba-variant {
  display: block;
  padding: 10px 15px 10px 30px;
  margin: 0 0 5px;
  background: #eee;
  font-weight: normal;
  border-radius: 4px;
  cursor: pointer;
}

.abba-variant-radio:checked + .abba-variant {
  font-weight: bold;
  background: #ddd;
  color: #000;
}

.abba-weight {
  float: right;
  font-style: italic;
}
